body {
    #background-image: url("/images/background.png");
    background-color: #3BA6DB;
}

header.Header1 {
    height: 104px;
}

.Logo {
    background-color: #2B4C5C;
    float: left;
    width: 110px;
    height: 104px;
}
.Quote {
    float: left;
    position: relative;
    margin: 0px 0px 0px 3px;
    background-color: #ABDCF5;
    height: 104px;
    width: 500px;
}

.Quote sup{
    margin: 0;
    font-style: italic;
    font-size: 150%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}

.Menu {
    float: right;
    font-size: 150%;
}

.Content {
    margin: 10px 0px 0px 0px;
    #flex-wrap: wrap;
    #height: 570px;
    background-color: #ABDCF5;
}

.Pseudographics {
    #float: left;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    #height: 570px;
    #width: 450px;
    background: black;
    font-size: 10px;
    color: white;
}

.Snippet {
    #float: left;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid;
    background: white;
    #width: 450px;
    #height: 200px;
}

.List {
    #float: left;
    margin: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid;
    background: white;
    #width: 450px;
    #height: 200px;
}

.First-Logo {
    margin: 0px;
}

.First-Logo__Logo {
    margin: 3px;
    filter: drop-shadow(3px 3px 4px #4444dd);
}

.TagColor {
    color: orange;
}

.Footer1 {
    flex-shrink: 0;
    background-color: #ABDCF5;
    height: 70px;
}

.Footer1-text {
    font-size: 20px;
    text-align: center;
}

.Footer1-text a {
    margin: 0px 50px 0px;
}
