@font-face {
    font-family: Georgia;
    font-style: normal;
    font-weight: 400;
    src: local("Georgia"),
    url("/fonts/georgia.ttf") format("ttf");
}

@media screen and (max-width: 700px){
    footer {display: none; }
}

body {
    /*background-image: url("/images/background.png");*/
    background-color: #3BA6DB;
}

.header-info{
    posiion: absolute;
    margin: 0 0 10px;
    height: 104px;
}

.header-info .header-info__logo {
    background-color: #2B4C5C;
    float: left;
    width: 110px;
    height: 104px;
}

.quote {
    margin: 0 3px;
    float: left;
    position: relative;
    display: flex;

    background-color: #ABDCF5;
    height: 104px;
    max-width: 500px;
}

.header-info .header-info__quote {
    align-items: center;
}

.header-info__quote .header-info__quote-text {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5em;
    font-style: italic;
    font-family: cursive, sans-serif;
}

.header-info .header-info__menu {
    font-size: 150%;
    float: right;
}

.menu {
    margin: 0;
}

.content{
    margin: 40px 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #ABDCF5;
}

.content .content-item {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex: 600px;
    box-shadow: 0px 0px 0px 2px;
}

.snippet {
    background: white;
}

.snippet .content__snippet-text {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -1px;
    font-family: Serif, sans-serif;
}

.content__snippet-text .content__snippet-text_tag-color {
    color: orange;
}

.content .content__snippet-aside {
    margin: .5em;
    padding: .5em;
    text-indent: 1em;
    box-shadow: inset 5px 0 5px -5px #29627e;
}

.content__snippet-aside .content__snippet-aside-text {
    font-size: 1em;
    font-style: italic;
    font-family: cursive, sans-serif;
    color: #29627e;
}

.content .list {
    margin: 0;
    padding: 5px;
    background: white;
}

.content .content__list-text {
    margin: 0;
    font-family: Georgia, sans-serif;
}

.content .content__list-text_title {
    text-decoration: underline;
}

.content__list-text .content__list-text_item{
    font-size: 1.2em;
    line-height: 1.2em;
}

.success-formula {
    background-color: white;
    margin: 0;
    padding: 5px;
}

.success-formula .content__formula-text {
    margin: 0;
    text-transform: capitalize;
    font-family: Georgia, sans-serif;
}

.content .content__first-logo {
    margin: 3px;
    filter: drop-shadow(3px 3px 4px #4444dd);
}

.content .content__table {
    background: white;
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    min-width: 75%;
}

.content__table .content__table-title {
    background: white;
    font-weight: 600;
}

.content__table .table-cell {
    border: 2px;
    box-shadow: 0px 0px 0px 1px;
    text-align: center;
    font-family: Serif, sans-serif;
}

.content .content__table_odd-row {
    background: darkgray;
}

.content .content__table_even-row {
    background: white;
}

.content .content__table-conclusion {
    font-weight: 600;
    background: gray;
}

.contacts-block{
    margin: 0 0 110px 0;
    height: 100px;
    background-color: #ABDCF5;
}

.contacts-block .contacts-block__contacts {
    padding: 0 0 5px;
    font-size: 20px;
    text-align: center;
    font-family: Serif, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacts-block .contacts-block__contacts-title {
    text-align: center;
    font-family: Serif, sans-serif;
}

.contacts-block .contacts-block__contacts-item {
    display: flex;
    margin: 0 50px;
}

.footer-info {
    margin: 10px 0 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #ABDCF5;
}

.footer-info .footer-info__add {

}
